.box {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.mainWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}
.inputC{
width: 100%;
margin: 10px
}
.btnC{
  margin: 10px;
}
.bodyWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}
.btnWrapper{
  margin-right: 10px;
  display: flex;
  
}

.input {
  width: 100%;
  flex: 1;
  padding: 8px;
  font-size: 26px;
  height: 40px;
 
}
.listInput{
  width: 100%;
  flex: 1;
  padding: 8px;
  font-size: 26px;
  height: 40px;
  border:none;
}

.btn {
  background-color:darkorchid;
  border: none ;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 30px;
  font-size: larger;
  cursor: pointer;
  height: 55px;
  width: 90px;
  color: white;
}
.btn2 {
  background-color:transparent;
  border: none ;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: large;
  
  cursor: pointer;
  height: 55px;
  width: 50px;
  color: rgb(0, 0, 0);
}


